<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <AppSettings>
    <!--默认登陆页，否则为/login.aspx?return={0}-->
    <add key="GCL.Project.VESH.E.Module.AModule.HttpSecurityModuleLoginURL" value="login.aspx?return={0}"/>
    <!--此属性用于定义需要Header内显示的公共资源控件地址 没有必须定义为空字符串-->
    <add key="GCL.Project.VESH.V.View.APage.HeaderAscx" value="/V/View/Theme/{0}/Header.ascx"/>
    <!--此属性用于定义需要Header内显示的公共资源控件地址 没有必须定义为空字符串-->
    <add key="GCL.Project.VESH.V.View.AScriptPage.HeaderScriptAscx" value="/V/View/Theme/{0}/HeaderScript.ascx"/>
    <!--此属性用于定义需要页面底部显示的公共资源控件地址 没有必须定义为空字符串-->
    <add key="GCL.Project.VESH.V.View.AContentPage.MenuAscx" value="/V/View/Theme/{0}/Menu.ascx"/>
    <!--此属性用于定义需要页面底部显示的公共资源控件地址 没有必须定义为空字符串-->
    <add key="GCL.Project.VESH.V.View.AScriptPage.FooterScriptAscx" value="/V/View/Theme/{0}/FooterScript.ascx"/>
    <!--此属性用于定义需要页面底部显示的公共资源控件地址 没有必须定义为空字符串-->
    <add key="GCL.Project.VESH.V.View.APage.FooterAscx" value="/V/View/Theme/{0}/Footer.ascx"/>
    <!--此属性用于定义permission.js路径-->
    <add key="GCL.Project.VESH.E.Entity.Power.Permission.AS.ASPermissionAction.Permission" value="/Scripts/permission.js"/>
    <add key="VESHTest.Module.MVP.Action.DefaultConfigFile" value="configs.conf"/>
    <add key="VESHTest.Module.MVP.Action.Version" value="version.conf"/>
  </AppSettings>
  <Middler xmlns="http://tempuri.org/netmiddler.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema_instance">
    <app name="VESH" dll="bin\VESH.dll" dll2="VESH, Version=1.0.0.0, Culture=neutral" method="constructor" mode="static" package="GCL.Project.VESH">
      <!--HttpHandler需要-->
      <!--获取各个Web实例.仍然需要复制，并说明其路径对应的默认域名解析-->
      <objects name="GCL.Project.VESH.E.Module.AModule.Modules">
        <object xmlns="" name="TestModule" ref="VESHs/VESHTest"/>
      </objects>
      <objects name="GCL.Project.VESH.V.Control.HttpHandler.IControlers">
        <object xmlns="" name="" type=".V.Control.Controler.PageControler">
          <String name="param" value="page"/>
          <String name="extend" value="aspx"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.JsonControler">
          <String name="param" value="json"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.JsonpControler">
          <String name="param" value="jsonp"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.TJsonControler">
          <String name="param" value="tjson"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.TJsonpControler">
          <String name="param" value="tjsonp"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.XmlControler">
          <String name="param" value="axml"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.PartControler">
          <String name="param" value="part"/>
          <String name="partUrl" value="/V/View/PartPage.aspx"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.VoidControler">
          <String name="param" value="void"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.StringControler">
          <String name="param" value="string"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.JnpControler">
          <String name="param" value="jnp"/>
          <String name="extend" value="html"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.XControler">
          <String name="param" value="x"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.SPAControler">
          <String name="param" value="spa"/>
          <String name="extend" value="aspx"/>
          <String name="path" value="/SPA"/>
          <String name="command" value="/j.bat"/>
        </object>
        <object xmlns="" name="" type=".V.Control.Controler.WSControler">
          <String name="param" value="ws"/>
          <Int32 name="port" value="8181"/>
          <Int32 name="socketmax" value="30000"/>
        </object>
      </objects>
      <!--HttpModuler需要-->
      <objects name="GCL.Project.VESH.V.Control.Module.HttpModuler.IModulers">
        <object xmlns="" name="" type=".V.Control.Session.SessionModuler"></object>
        <object xmlns="" name="" type=".V.Control.Session.CacheModuler">
          <String name="" value="_c"/>
        </object>
        <!--object xmlns="" name="" type=".E.Entity.Power.Security.SecurityModuler"></object>
        <object xmlns="" name="" type=".E.Entity.Power.Permission.PermissionModuler"></object-->
      </objects>
      <!--AModule需要-->
      <!--Logger一般的统一定义一个-->
      <object name="GCL.Project.VESH.E.Module.AModule.Logger" dll="bin/GCL.dll" type="GCL.IO.Log.Logger"  method="constructorbean" constructorparalength="1">
        <object xmlns="" name="" type="GCL.IO.Log.LogRecord" method="constructor">
          <Enum value="GCL.IO.Log.LogType.INFO"/>
          <bool name="needDateTime"  value="true"/>
          <bool name="needDiscript" value="true"/>
          <bool name="needSeparator" value="false"/>
        </object>
        <object xmlns="" name="Listener" type="GCL.IO.Log.LoggerFactory.GetListener" method="factory">
          <Enum value="GCL.IO.Log.LogType.RELEASE"/>
          <Enum value="GCL.IO.Log.LogType.INFO"/>
          <object xmlns="" type="GCL.IO.Log.LoggerFactory.GetTextFileResource" method="factory">
            <String value="\log\{0}.log"/>
            <String value="gb2312"/>
            <int value="1"/>
            <int value="10000000"/>
            <String value="0 0 * * * ?"/>
            <String value="{0:yyyyMMddHH}"/>
          </object>
        </object>
        <!--<object xmlns="" name="Listener" type="GCL.IO.Log.LoggerFactory.GetConsoleListener" method="factory">
          <Enum value="GCL.IO.Log.LogType.TEST"/>
          <Enum value="GCL.IO.Log.LogType.RELEASE"/>
        </object>
        <object xmlns="" name="Listener" type="GCL.IO.Log.LoggerFactory.GetWindowEventListener" method="factory">
          <Enum value="GCL.IO.Log.LogType.TEST"/>
          <String value=""/>
          <String value="Logger"/>
        </object>-->
      </object>
      <!--默认安全模式的例外路径正则，否则为/login.aspx-->
      <object name="GCL.Project.VESH.E.Module.AModule.HttpSecurityModuleRegex" dll="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="System.Text.RegularExpressions.Regex">
        <String xmlns="" value ="\\S*/login.aspx\\S*"/>
      </object>

      <!--SessionDataManager需要-->
      <object name="GCL.Project.VESH.V.Control.Session.SessionDataManager" type=".V.Control.Session.SessionDataManager" mode="instance">
        <object xmlns="" ref="SessionDataAdapter"/>
        <object xmlns="" ref="Security"/>
        <object xmlns="" ref="MLanguage"/>
      </object>
      <!--SessionDataAdapter需要-->
      <object name="SessionDataAdapter" type=".V.Control.Session.SessionDataAdapter" method="bean">
        <!--这里设置默认的SessionData数据源，其实如果这里设置了，且SessionData都是Cookie存储的话，下面的设置可以不需要了。但这里为了说明用途所以加以说明-->
        <object xmlns="" name="Resource" ref="SecuritySessionResourceDecorater"></object>
        <!--这里用于调用SessionDataAdapter.SetResource设置Session名对应的Session源 譬如静态常量-->
        <Params xmlns="" name="Resource">
          <String name="name" value="version"/>
          <object type=".V.Control.Session.Resource.ConstSessionResource" mode="static" method="constructor">
            <String value="value=20130123"/>
          </object>
        </Params>
        <Params xmlns="" name="Resource">
          <String name="name" value=".SPIDS"/>
          <object ref="SecuritySessionResourceDecorater"/>
        </Params>
        <Params xmlns="" name="Resource">
          <String name="name" value="shopcart"/>
          <object type=".V.Control.Session.Resource.NiSessionResource" mode="static" method="constructor">
            <This></This>
            <String name="NiApp" value="Ni"/>
            <String name="NiObjectName" value="db2"/>
            <String name="saveCommand" value="PCPortal.Module.newPC.SaveSession"/>
            <String name="loadCommand" value="PCPortal.Module.newPC.LoadSession"/>
            <String name="clearCommand" value="PCPortal.Module.newPC.ClearSession"/>
          </object>
        </Params>
        <Params xmlns="" name="Resource">
          <String name="name" value="GCL.Project.VESH.E.Entity.MLang.MLanguage"/>
          <object name="resource" type=".V.Control.Session.Cache.SessionResourceDecorator">
            <object name="" type=".V.Control.Session.Cache.MSApplicationSessionResource">
              <bool name="useID" value="true"/>
            </object>
            <object name="resource" type=".E.Entity.MLang.MLDBResource">
              <object ref="Ni/template"></object>
            </object>
            <object name="ATrigger" type="GCL.Module.Trigger.CronExpressionTrigger" dll="bin/GCL.dll">
              <String name="" value ="0 0 * * * ?"/>
            </object>
          </object>
        </Params>
        <Params xmlns="" name="Resource">
          <String name="name" value="GCL.Project.VESH.V.Control.Moduler.CacheModuler.OnlyCache"/>
          <object name="resource" type=".V.Control.Session.Resource.NoStoreSessionResource">
          </object>
        </Params>
      </object>
      <!--设置Cookie存取方式-->
      <object name="CookieSessionResource" type=".V.Control.Session.Resource.CookieSessionResource">
        <bool xmlns="" name="isExceptIE6" value="true"/>
        <String xmlns="" name="domain" value=""/>
      </object>
      <!--<object name="CookieSessionResource" type=".V.Control.Resource.MSSessionResource" />-->
      <!--无缝加密-->
      <object name="SecuritySessionResourceDecorater" type=".V.Control.Session.Resource.SecuritySessionResourceDecorater">
        <object xmlns="" ref="CookieSessionResource" />
        <object xmlns="" ref="DESXcrypt" />
      </object>
      <!--无缝加密-->
      <object name="DESXcrypt" type=".V.Control.Session.Resource.DESXcrypt">
        <String xmlns="" name="key" value="1lfBmAMvE1aS+yqdN4C4KvygWtL0jcgq"/>
        <String xmlns="" name="iv" value="yltNVKv6WqU="/>
      </object>

      <!--登陆及其策略判断 -->
      <object name="Security" type=".E.Entity.Power.Security.SecurityDecorater" method="constructor">
        <objects xmlns="" convert=".E.Entity.Power.Security.SecurityDecorater.ToISecurity">
          <object type=".E.Entity.Power.Security.DefaultSecurity"/>
          <object type=".E.Entity.Power.Security.LoginTimeSecurity">
            <int name="hours" value="24"/>
          </object>
          <!--object type=".E.Entity.Power.Security.OnceSecuriy"/-->
        </objects>
      </object>

      <!--多语言包-->
      <object name="MLanguage" type=".E.Entity.MLang.MLanguage" mode="instance">
        <object xmlns="" ref="SessionDataAdapter"/>
      </object>

      <!--权限判断-->
      <object name="GCL.Project.VESH.E.Entity.Power.Permission.IPermissionFactory" type=".E.Entity.Power.Permission.String.StringPerColFactory"></object>
      <object name="GCL.Project.VESH.E.Entity.Power.Permission.IPermissionFactory2" type=".E.Entity.Power.Permission.AS.ASPerColFactory">
        <object xmlns="" ref="Ni/template"></object>
        <String xmlns="" name="" value="GCL.Project.VESH.E.Entity.Power.Permission.AS.ASPermissionAction.Permission"/>
      </object>

      <!--NiParamFilter-->
      <objects name="GCL.Project.VESH.V.Control.HttpHandler.IHttpNiParamFilters">
        <object xmlns="" name="FormNiParamFilter" type=".V.Control.NiParamFilter.FormNiParamFiller"></object>
        <object xmlns="" name="SessionDataNiParamFilter" type=".V.Control.NiParamFilter.SessionDataNiParamFilter">
          <Array name="" type="String">
            <String name="" value="version"/>
            <String name="" value=".User"/>
            <String name="" value=".SPIDS"/>
          </Array>
        </object>
      </objects>

    </app>
    <app name="VESHs" method="constructor" mode="static" dll="bin/VESHTest.dll" package="VESHTest">
      <object name="VESHTest"  type=".TestModule">
        <String xmlns="" name="applicationPath" value=""/>
        <String xmlns="" name="package" value="VESHTest"/>
      </object>
      <object name="ObjectDBTest"  type=".Module.ObjectDBTest">
      </object>
    </app>
    <app name="Ni" method="constructor" mode="static" dll="bin/GCL.dll" package="GCL.Db.Ni">
      <object name="sqlfactory" type=".SqlFactory"></object>
      <object name="odbcfactory" type=".ODBCFactory"></object>
      <object name="oledbfactory" type=".OleDbFactory"></object>
      <object name="mysqlfactory" type=".MySQLFactory"></object>
      <object name="sqliteFactory" type=".SQLiteFactory"></object>
      <object name="sqliteresource" type="GCL.Db.Ni.NiInstanceDataResource">
        <object xmlns="" ref="sqliteFactory"/>
        <String xmlns="" name="connectionstring" value="Data Source=abc.db;Version=3"/>
      </object>
      <object name="sqliteTemplate" type="GCL.Db.Ni.NiTemplate" method="constructor" mode="instance" >
        <object xmlns="" name="" ref="sqliteresource"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
      </object>
      <object name="mysqlresourcer" type=".NiInstanceDataResource">
        <object xmlns="" ref="mysqlfactory"/>
        <MSConfig xmlns="" name="" ref="ConnectionStrings/mysql"/>
      </object>
      <object name="db2resourcer" type=".NiInstanceDataResource">
        <object xmlns="" ref="mysqlfactory"/>
        <String xmlns="" name="" value="Server=106.2.162.139;Port=3306;Database=dskmall_db2;Uid=root;Pwd=111111;pooling=true;charset=utf8;oldsyntax=true;"/>
      </object>
      <object name="wsfactory" type="GCL.Project.VESH.Db.Ni.WebSocketDB.WebSocketDbFactory" dll="bin/VESH.dll"></object>
      <object name="wsresourcer" type=".NiInstanceDataResource">
        <object xmlns="" ref="wsfactory"/>
        <String xmlns="" name="" value="8181"/>
      </object>
      <object name="ws" type=".NiTemplate" method="constructor" mode="instance" constructorparalength="3">
        <object xmlns="" name="" ref="wsresourcer"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
        <!--<bool name="Transaction" value="True"/>-->
      </object>
      <object name="db2" type=".NiTemplate" method="constructor" mode="instance" constructorparalength="3">
        <object xmlns="" name="" ref="db2resourcer"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
        <!--<bool name="Transaction" value="True"/>-->
      </object>
      <object name="mydb" type=".NiTemplate" method="constructor" mode="instance" constructorparalength="3">
        <object xmlns="" name="" ref="mysqlresourcer"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
        <!--<bool name="Transaction" value="True"/>-->
      </object>
      <object name="SecurityTemplate" type=".NiTemplate" method="constructor" mode="instance" constructorparalength="3">
        <object xmlns="" name="" ref="resource"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
        <!--<bool name="Transaction" value="True"/>-->
      </object>
      <object name="template" type=".NiTemplate" method="constructor" mode="instance" constructorparalength="3">
        <object xmlns="" name="" ref="resource"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
        <!--<bool name="Transaction" value="True"/>-->
      </object>
      <object name="factory" type=".SqlFactory"></object>
      <object name="ma" type="GCL.IO.Config.ConfigManagerFactory.GetConfigManagerFromDirectory" method="factory" >
        <object xmlns="" type="GCL.IO.Config.ConfigManagerFactory.GetBassConfigManager" method="factory"/>
        <String xmlns="" value=".\Ni\*.ni"/>
      </object>
      <object name="resource" type=".NiInstanceDataResource">
        <object xmlns="" ref="sqlfactory"/>
        <!--<String name="" value="Driver={sql server};server=.\LXR;database=test;uid=login_user;pwd=test;" />-->
        <String xmlns="" name="" value="Password=pass@word1;Persist Security Info=True;User ID=sa;Initial Catalog=SSIDB-DEV;Data Source=."/>
        <!--<String value="Provider=SQLOLEDB.1;Password=test;Persist Security Info=True;User ID=login_user;Initial Catalog=test;Data Source=.\LXR"/>-->
      </object>
      <object name="poolresource" type=".NiPoolDataResource">
        <object xmlns="" ref="oledbfactory"/>
        <!--<String name="" value="Driver={sql server};server=.\LXR;database=test;uid=login_user;pwd=test;" />-->
        <!--<String name="" value="Password =test;Persist Security Info=True;User ID=login_user;Initial Catalog=test;Data Source=.\LXR"/>-->
        <String xmlns="" value="Provider=SQLOLEDB.1;Password=pass@word1;Persist Security Info=True;User ID=sa;Initial Catalog=SSIDB-DEV;Data Source=."/>
        <!--<object xmlns="" dll="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" method="constructor" mode="instance" type="System.Collection.ArrayList">
          <Array xmlns="" name="connstrings" type="string">
            <String name="" value="Password =test;Persist Security Info=True;User ID=login_user;Initial Catalog=test;Data Source=.\LXR"/>
          </Array>
        </object>-->
        <int xmlns="" value="2" />
      </object>
      <object name="parameters" type=".NiDataParameters"></object>
      <object name="objectDbFactory" type=".ObjectDbFactory">
        <This xmlns=""></This>
      </object>
      <object name="objectresourcer" type=".NiInstanceDataResource">
        <object xmlns="" ref="objectDbFactory"/>
        <String xmlns="" name="" value="VESHTest/ObjectDBTest"/>
      </object>
      <object name="objdb" type=".NiTemplate" method="constructor" mode="instance" constructorparalength="3">
        <object xmlns="" name="" ref="objectresourcer"/>
        <object xmlns="" name="" ref="parameters"/>
        <object xmlns="" name="" ref="ma"/>
        <!--<bool name="Transaction" value="True"/>-->
      </object>
    </app>
  </Middler>
</Config>
