<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--如果部署在localhost/defualt.aspx等位置，请直接修改为自己的package-->
    <add key="PublicClass.Project.VESH.E.Module.RootModule.package" value="VESHTest" />
    <add key="ssoService" value="http://sso.isc.com:8080/isc_sso/v1/tickets" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="esbr" connectionString="Server=192.168.10.11;Port=3306;Database=dskmall_cn_new;Uid=root;Pwd=111111;pooling=true;charset=utf8;oldsyntax=true;" />
    <add name="mysql" connectionString="Server=192.168.10.11;Port=3306;Database=dskmall_cn_new;Uid=root;Pwd=111111;pooling=true;charset=utf8;oldsyntax=true;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />

    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="*.page" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.json" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.jsonp" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.tjson" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.tjsonp" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.axml" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.void" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.part" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.string" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.jnp" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.x" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.spa" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add path="*.ws" verb="GET,POST" type="PublicClass.Project.VESH.V.Control.HttpHandler, VESH" />
      <add verb="GET,HEAD" path="*.appcache" type="System.Web.StaticFileHandler" />
      <!--注意使用{0}/V/View/AS.Permission.page?_n=template 更新JS-->
    </httpHandlers>
    <httpModules>
      <add name="HttpModuler" type="PublicClass.Project.VESH.V.Control.Moduler.HttpModuler, VESH" />
      <!--add name="mymodule" type="WebTest.MyModuler,VESHTest"/-->
    </httpModules>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="axmlControler-32" path="*.axml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="voidControler-32" path="*.void" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="tjsonpControler-32" path="*.tjsonp" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="tjsonControler-32" path="*.tjson" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="jsonpControler-32" path="*.jsonp" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="jsonControler-32" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="pageControler-32" path="*.page" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="stringControler-32" path="*.string" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="partControler-32" path="*.part" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="jnpControler-32" path="*.jnp" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="xControler-32" path="*.x" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="spaControler-32" path="*.spa" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="wsControler-32" path="*.ws" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />

      <add name="axmlControler" path="*.axml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="voidControler" path="*.void" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="tjsonpControler" path="*.tjsonp" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="tjsonControler" path="*.tjson" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="jsonpControler" path="*.jsonp" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="jsonControler" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="pageControler" path="*.page" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="stringControler" path="*.string" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="partControler" path="*.part" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="jnpControler" path="*.jnp" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="xControler" path="*.x" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="spaControler" path="*.spa" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="wsControler" path="*.ws" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <!--注意使用{0}/V/View/AS.Permission.page?_n=template 更新JS-->
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".page" allowed="true" />
          <add fileExtension=".axml" allowed="true" />
          <add fileExtension=".void" allowed="true" />
          <add fileExtension=".tjsonp" allowed="true" />
          <add fileExtension=".tjson" allowed="true" />
          <add fileExtension=".jsonp" allowed="true" />
          <add fileExtension=".json" allowed="true" />
          <add fileExtension=".string" allowed="true" />
          <add fileExtension=".part" allowed="true" />
          <add fileExtension=".jnp" allowed="true" />
          <add fileExtension=".x" allowed="true" />
          <add fileExtension=".spa" allowed="true" />
          <add fileExtension=".ws" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />-->
    </staticContent>
    <rewrite>
      <outboundRules>
        <rule name="Remove ETag">
          <match serverVariable="RESPONSE_ETag" pattern=".+" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
